.layx-window.layx-skin-default {
    border: 1px solid #34495e;
}

.layx-window.layx-skin-default .layx-control-bar {
    background-color: #34495e;
    color: #fff;
}

.layx-window.layx-skin-default .layx-inlay-menus .layx-icon:hover {
    background-color: #2c3e50;
}

.layx-window.layx-skin-default .layx-button-item {
    background-color: #34495e;
    color: #fff;
    border: 1px solid #34495e;
}

.layx-window.layx-skin-default .layx-button-item:hover {
    background-color: #2c3e50;
    border: 1px solid #34495e;
}