.layx-window.layx-skin-default {
    border: 1px solid #3498db;
}

.layx-window.layx-skin-default .layx-control-bar {
    background-color: #3498db;
    color: #fff;
}

.layx-window.layx-skin-default .layx-inlay-menus .layx-icon:hover {
    background-color: #2980b9;
}

.layx-window.layx-skin-default .layx-button-item {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
}

.layx-window.layx-skin-default .layx-button-item:hover {
    background-color: #2980b9;
    border: 1px solid #3498db;
}
